<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-11 card p-3 m-3 ">
            <div class="col-11 card p-3 m-3 text-center">
                <h2>Project's Name : <%= project.name%></h2>
                <h4>Project's Author : <%= project.author%></h4>
                <h5>Project's Description : <%= project.description%></h5>
                <a class="text-decoration-none" href="/projects/filter/<%= project.id %>">
                    <button class="btn btn-primary">Filter Issues</button>
                </a>
            </div>
            <%- include('./partials/__issue_create_form')%>
            <div class="col-11 card p-3 m-3">
                <h1 class="m-3">Issue List :</h1>
                <ul id="issues-list" class="d-flex flex-column text-center p-3 h4" style="list-style: none">
                        <% for (let issue of issues) {%>
                            <li class="col-11 m-2"><a href="/issues/<%= issue.id%>"><%= issue.title %></a></li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/project_details.js"></script>